<!doctype html>
{% load static %} {% load hijack_tags %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Pycon">
    <meta name="description" content="Pycon Conference Site" />
    <meta name="keywords" content="Python, Pycon Nigeria 2018">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FAVICON AND TOUCH ICONS  -->
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/icons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/icons/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'designs/dist/3def92b007890507cd3d78fe146e0d96.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />

    
    <!-- SITE TITLE -->

    <title>{% block head_title %}{{title}}{% endblock head_title %}Pycon Nigeria</title>

</head>
{% block body_tag %}
<body>
    {% hijack_notification %}

  {% block navigation %}
      {% include "includes/navigation.html" with class="home" %}
      <!-- remove the class if we want to have a background color for the navbar -->
  {% endblock %}

    {% block header-section %}
    {% endblock %}
    
    <div class="content-section container-fluid">
        {% block sidebar-counter %}
            <div class="sidebar">
                <span class="python-start"> &#60;&#47; </span>
                <div class="numbers">
                    <!-- Inserted with jQuery -->
                </div>
            </div>
        {% endblock %}
        <div class="main-content container">
                 {% if messages %} {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %} {% endif %}

            {% block content %}
            {% endblock %}
			{% block extra_body %}{% endblock extra_body %}
        </div>
    </div>
    {% block footer %}
        {% include "includes/footer.html" %}
    {% endblock %}
    <script src="{% static 'designs/dist/8081b84912ac59bcef8762f268eb18e9.js' %}"></script> </body>

</body>

{% endblock body_tag %}

</html>
