{% extends "new-base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load proposal_tags pinax_boxes_tags %}
{% load review_tags %}
{% load teams_tags %}
{% block extra_stylings %}
<style>
  .btn.btn-primary {
    display: inline-block;
    background: transparent;
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 30px !important;
    font-weight: 600;
    transition: all 0.3s ease;
  }

  .panel,form,.blog-header,.poster-wrapper {
    color: var(--primary-color) !important;
  }

  .card {
    color: var(--primary-color) !important;
  }

  .small-header {
    color: var(--primary-color) !important;
  }

  a {
    color: var(--primary-color);
  }
</style>
{% endblock extra_stylings %}


{% block footer_1 %}

{% endblock footer_1 %}
{% block footer_class %}{% endblock footer_class %}
