{% extends "apply.html" %} 
{% load static from staticfiles %} 
{% load pinax_boxes_tags %} 
{% block head_title %}
    Home Page |
{% endblock head_title %}
{% block extra_nav %}
<div class="container">
    <div class="row">
        <div id="content_homepage-about" class="padding-bottom-50">
            {% box "home_introduction" %}
        </div>

    </div>
</div>
{% endblock %} 
{% block content %}

<section id="become-sponsor" class="wide-100 become-sponsor division">	
    <div class="container">
        <div class="row white-color">
        
        
            <div class="col-md-8">
                {% box "speaker_box" %}                
            </div>
            
            <!-- Button -->
            <div class="col-md-4 text-center">						
                <a href="{% url 'speaker_create' %}" class="btn btn-lg">Become a speaker</a>							
            </div>
        
        
        </div>	<!-- End row -->
    </div>	  <!-- End container -->
</section>  <!-- END BECOME A SPONSOR -->		

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 padding-top_bottom-50">
            <div class="front-page-facets narrow">
            <div class="flex-items-thumbnail">
                <img class="icon-size" src="{% static "images/home/light-bulb.png" %}">
                {% box "icon_1_text" %}
            </div>
            <div class="flex-items-thumbnail">
                <img class="icon-size" src="{% static "images/home/conference.png" %}">
                {% box "icon_2_text" %}
            </div>
            <div class="flex-items-thumbnail">
                <img class="icon-size" src="{% static "images/home/team.png" %}">
                {% box "icon_3_text" %}
            </div>

        </div>    
        </div>

    </div>
    
</div>

<!-- BECOME A SPONSOR
============================================= -->	
<section id="become-sponsor" class="wide-100 become-sponsor division">	
    <div class="container">
        <div class="row white-color">
        
        
            <div class="col-md-8">
                {% box "sponsor_text" %}                
            </div>
            
            <!-- Button -->
            <div class="col-md-4 text-center">						
                <a href="{% url 'sponsor_apply' %}" class="btn btn-lg">Request Now</a>							
            </div>
        
        
        </div>	<!-- End row -->
    </div>	  <!-- End container -->
</section>  <!-- END BECOME A SPONSOR -->		


{% endblock %}
