{% extends "base.html" %}
{% load static %}
{% block body_tag %}

<body class="{% block body_class %}{% endblock body_class %}">

{% block navigation %}
<!-- INTRO-3
============================================= -->
{{block.super}}
{% endblock %}

{% block extra_nav %}

{% endblock %}

{% block home_banner %}

{% endblock %}
    {% block body %}{% endblock body %}
	<!-- EXTERNAL SCRIPTS
		============================================= -->
	    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
			{% block extra_script %}
			{% endblock %}
        {% if development %}
        <script src="http://localhost:8080/bundles/bundle.js"></script>
        {% else %}
        <script src="{% static 'js/bundle.js' %}"></script>
        {% endif %}
</body>

{% endblock body_tag %}

</html>