{% extends "symposion/speakers/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load pinax_boxes_tags %}
{% load static from staticfiles %}

{% block page_title %}{% trans "Edit Speaker Profile" %}{% endblock %}

{% block body %}
<div class="poster-wrapper mt-5">
  <div class="container">
    <div class="row">
    {% box "speaker-profile" %}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>{% trans "Edit Speaker Profile" %}</legend>
        {{ speaker_form.non_field_errors }}

        {{ speaker_form.name|as_crispy_field }}
        {{ speaker_form.biography|as_crispy_field }}

        {{ speaker_form.photo.errors }}
        {{ speaker_form.photo }}
        {% if not speaker_form.photo.errors %}
          <p class="help-block error"><strong>The image size must not be above 600kb.</strong></p>
        {% endif %}

        <br />

        {{ speaker_form.twitter_username|as_crispy_field }}

        <div class="form-actions d-flex justify-content-between">
                            
            <input class="btn btn-success btn-lg" type="submit" value="Save" />
            <a class="btn btn-lg btn-outline-dark" href="{% url "dashboard" %}">Cancel</a>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
