{% extends 'new-base.html' %}
{% load static pinax_boxes_tags %}

{% block content %}
    {% box "new-hero-section" %}
    <!-- Intro Section -->
    {% box "new-intro-section" %}

    {% box "new-about-section" %}
    <!-- Community Section -->
    {% box "new-community-section" %}
    
    <!-- Features Section -->
    {% box "new-features-section" %}



    <!-- Past Events Section -->
    {% box "new-past-events-section" %}


    <!-- Newsletter Section -->
    {% box "new-newsletter-section" %}
{% endblock %}
