
# PostgreSQL
REPLICATION_USER=pyconnigeria_rep
REPLICATION_PASS=thepyconsite
DB_USER=pyconnigeria
DB_PASS=thepyconsite
DB_PASSWORD=thepyconsite
DB_NAME=pyconnigeria
POSTGRES_USER=pyconnigeria
POSTGRES_PASSWORD=thepyconsite
# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=m4dmydr9)ot8iwt^0tcl4y0fro2u41rpr+aipf*0phlu^tfa)j
DJANGO_ALLOWED_HOSTS=.pycon.ng
DATABASE_URL=postgres://pyconnigeria:thepyconsite@postgres/pyconnigeria
# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=invalid
DJANGO_AWS_SECRET_ACCESS_KEY=holla
DJANGO_AWS_STORAGE_BUCKET_NAME=sce
# Used with email


# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# Sentry
DJANGO_SENTRY_DSN=https://19984e0aa9d04b088508212e3e379a68:388d4b71e7ad44de85d2067c1a743b76@sentry.io/181096



