
# PostgreSQL
REPLICATION_USER=pyconnigeria_rep
REPLICATION_PASS=thepyconsite
DB_USER=pyconnigeria
DB_PASS=thepyconsite
DB_NAME=pyconnigeria
POSTGRES_USER=pyconnigeria
POSTGRES_PASSWORD=thepyconsite
# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=m4dmydr9)ot8iwt^0tcl4y0fro2u41rpr+aipf*0phlu^tfa)j
DJANGO_ALLOWED_HOSTS=.pycon.ng
DATABASE_URL=postgres://pyconnigeria:thepyconsite@postgres/pyconng
# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=invalid
DJANGO_AWS_SECRET_ACCESS_KEY=holla
DJANGO_AWS_STORAGE_BUCKET_NAME=sce
# Used with email
DJANGO_MAILGUN_API_KEY=key-f06af096671b80dd2e8537f05cc1f7ab
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=pycon.ng

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# Sentry
DJANGO_SENTRY_DSN=https://ef02c54374124ed0aecc00d3438c8c52:fbcae697989c43cabbbac775ecc1a288@sentry.io/137959



