{% load static %}
<footer id="footer">
    <div class="row main-footer-content">
        <div class="col-sm-12 col-md-3">
            <img src="{% static 'designs/dist/55fec6b81a7e87ef7a928e3e7e65f618.svg' %}" alt="footer-logo"> </div>
        <div class="col-sm-12 col-md-3">
            <h4>CONTACT US</h4>
            <br>
            <p>info@pyconng.com</p>
            <p>+2348012345596</p>
        </div>
        <div class="col-sm-12 col-md-3">
            <h4>LEGAL STUFF</h4>
            <br>
            <a href="designs/dist/1622b66d73d212db695e9615e4be6ca9.html">
                <p>CODE OF CONDUCT</p>
            </a>
            <p>PRIVACY POLICY</p>
        </div>
        <div class="col-sm-12 col-md-3">
            <h4>FOLLOW US</h4>
            <br>
            <p>FB, TWITTER, INSTAGRAM, FLICKR</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 offset-md-3">
            <p class="credits text-white">&lt;/&gt; WITH
                <img class="heart-image" src="{% static 'designs/dist/cd928e5ed23cbf012cebc565fc4ca4cd.png' %}" alt="heart-image"> BY PYCON FOLKS. DESIGNED BY
                <a href="#">SAGE</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-2">
            <img class="pycon-snake-image" src="{% static 'designs/dist/a254cd00a7bfb61d5a2b36235eae1017.png' %}" alt="pycon-snake-image"> </div>
    </div>
</footer>