<!-- Navigation Menu -->
{% load pinax_boxes_tags %}
<nav id="navigation-menu" class="collapse navbar-collapse">
  
    {% box "post_links" %}
  <ul class="nav navbar-nav navbar-right">
    {% if request.user.is_authenticated %}
    <li><a  href="{% url 'dashboard' %}">Dashboard</a></li>
    
    {% else %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
    {% block register_btn %} {% endblock register_btn %} {% endif %}
    <li>
      <a class="register-btn" href="{% url 'tickets:home' %}">Request Tickets</a>
    </li>


  </ul>
</nav>
<!-- End Navigation Menu -->