<!-- End Navigation Menu -->
{% load static pinax_boxes_tags %}
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark {{class}}">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'designs/dist/b78381a61904bb7a82ebad30c9175e6d.svg' %}" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% box "other_navigations_items" %}
            <li class="nav-item">
            <a href="{% url 'tickets:home' %}" class="link-button btn btn-success">Purchase Ticket</a>
            </li>
          {% if request.user.is_authenticated %}
                {% comment %} <li class="nav-item">
                    <a href="designs/dist/83dfd8b971de1adeeb96cc8aace504fd.html" class="link-button btn btn-success">BUY TICKETS</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" >Dashboard</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
            
                <li class="nav-item">
                    <a class="nav-link" class="login" href="{% url "account_login" %}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link signup" href={% url "account_signup"%}>Sign up</a>
                </li>
                {% endif %}
        </ul>
    </div>
</nav>
