{% load static pinax_boxes_tags %}
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark {{class}}">
    <a class="navbar-brand" href="designs/dist/031f3d4713898318dffd6554a4686cc9.html">
        <img src="{% static 'designs/dist/55fec6b81a7e87ef7a928e3e7e65f618.svg' %}" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
             {% box "other_navigations_items" %}
             {% if request.user.is_authenticated %}
                {% comment %} <li class="nav-item">
                    <a href="designs/dist/83dfd8b971de1adeeb96cc8aace504fd.html" class="link-button btn btn-success">BUY TICKETS</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="link-button btn btn-success">Dashboard</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" >Dashboard</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
            
                <li class="nav-item">
                    <a class="nav-link" class="login" href="{% url "account_login" %}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link signup" href={% url "account_signup"%}>Sign up</a>
                </li>
                {% endif %}
        </ul>

    </div>
</nav>