{% load pinax_boxes_tags static %}
{% load core_tags %}   

{% regroup timetable.slots_qs by start as slots %}

{% for slot_group in slots %}
<!-- Event Time / Event Room -->
{% if slot_group.list.0.content_override %}
    {% with slot=slot_group.list.0 %}
    <div class="row schedule-event b-bottom {% if not slot.kind.label == " Session " %}grey{% endif %}">
    <div style="width: 100%;" class="schedule-day {{slot.kind}}">
        <div class="s-date">{{ slot_group.grouper|time:"h:i A"}} - {{ slot.end|time:"h:i A" }}</div>
        <div class="row-1">
        <div class="s-text">{{slot.content_override_html|safe}}</div>
<div class="s-logo {% if slot.content_override|lower == 'launch' or slot.content_override|lower == 'lunch' %}launch{% else %} {% if slot.kind.label == 'lightning' %}lightning{% else %}
{% endif %} food{% endif %}"></div>
        </div>
    </div>
    </div>
    {% endwith %}

{% else %}
<div class="row schedule-event b-bottom {% if not slot.kind.label == " Session " %}grey{% endif %}">
  <div class="card-group {% if forloop.last %} last{% endif %}">
    <!-- <div class="col-md-2 event-data">
            <span class="event-time">{{ slot_group.grouper|time:"h:i A"}}-{{ slot.end|time:"h:i A" }}</span>
            <span class="event-room">Main Hall</span>
        </div> -->
    <div class="schedule-day ">
<div class="s-date">{{ slot_group.grouper|time:"h:i A"}} - {{ slot_group.list.0.end|time:"h:i A" }}</div>
{% for slot in slot_group.list %}
          <div class="row-2">
            <div class="row-1">
                <div class="s-text">{{ slot.content.title }}</div>
                <div class="s-logo"></div>
            </div>
            <div class="row-1">
                {% with spek=slot.content.speaker %}
                <strong class="s-text">— {{spek.name}}</strong>
                <div class="s-logo img">
                <div style="width:48px; height: 48px;">
                    <img style="width: 100%; height: 100%;" src="{% if spek.photo %}https://pycon.ng{{spek.photo.url}}{% else %}{% static "images/placeholder.png" %} {% endif %}" alt="{{spek.name}}">
                </div>
            </div>
                
                {% endwith %}
            </div>
        </div>
          {% endfor %}
    </div>
    <!-- <div class="card text-xs-center card-{{ slot.kind }} {% for room in slot.rooms %}{{ room.name|slugify}} {% endfor %}">
          <div class="card-header">
            {% if slot.rooms %}
              {% for room in slot.rooms %}
                <span>{{ room.name }}{% if not forloop.last %}, {% endif %}</span>
              {% endfor %}
            {% endif %}
          </div>
 
          {# These should all be slot.end - 5 minutes #}
         
        </div> -->

    {% if not forloop.last and forloop.counter|divisibleby:"3"%}
  </div>
  <div class="card-group">
    {% endif %}

  </div>
</div>
{% endif %}
    {% endfor %}
{% comment %}
    {% for slot in slot_group.list|sort_by_m2m:"rooms.order" %}
{% endfor %}
{% endcomment %}

{% with timetable.day.date.day|slugify as day %}
    {% box "schedule_day_"|add:day %}
{% endwith %}
