{% extends "site_base.html" %}

{% load markitup_tags static %}
{% load pinax_boxes_tags %}
{% load sitetree %}
{% block stylings %}
<style>
  .ccc  h3{
    margin-bottom: 10px;
  }
  .description,.abstract{
    margin-bottom: 20px;
  }
  @media(min-width: 1200px){
    .speaker .img-block{
      width: 80%;
      margin: auto;

    }
  }
</style>
{% endblock stylings %}

{% block logo-images %}
<!-- LOGO IMAGE -->
<!-- Recommended sizes 150x34px; -->
<a class="navbar-brand logo-white" href="{% url 'home' %}"><img src="{% static 'images/logo-white.png' %}" alt="logo" height="60"></a>
<a class="navbar-brand logo-black" href="{% url 'home' %}"><img src="{% static 'images/logo-white.png' %}" alt="logo" height="60"></a>
{% endblock %}
{% block head_title %}Presentation: {{ presentation.title }}{% endblock %}
{% block header_style %}
style="position:absolute;"
{% endblock header_style %}
{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}
{% block home_banner %}
<section id="intro-3" style="height: 250px !important" class="intro-section height_400">
  <div class="overlay division">
      <div class="container">
          <div id="intro-3-content" style="padding-top: 65px;" class="row">
              <!-- INTRO TEXT -->
              <div class="col-md-12 col-lg-10 col-lg-offset-1 intro-txt text-center white-color">
                
                  <!-- Title -->
                  <h4>PyCon Nigeria Annual Conference </h4>
                  <h3>{{ presentation.title }}</h3>
                  
                </div>
          </div>	 <!-- End Intro Content -->
      </div>    <!-- End container -->
  </div>	   <!-- End overlay -->
</section>	<!-- END INTRO-3 -->
{% endblock %}
{% block body %}


<div class="poster-wrapper presentation-content">
  <div class="container">
    <div class="row">
        <div class="col-md-4  col-md-push-8 m-bottom-50">			
          {% for speaker in presentation.speakers %}
            <div class="speaker">
                
                <!-- Speaker Photo  -->	
                <div class="img-block">
                
                    <!-- Photo Hower Content -->	
                    <div class="img-block-wrapper-hover">
                        <div class="social-icons">
                            <a href="https://www.tuwitter.com/{{speaker.twitter_username}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    
                    <!-- Photo Link -->	
                    <img class="img-responsive" src="{% if speaker.photo %}{{speaker.photo.url}}{% else %}{% static 'images/placeholder.png' %}{% endif %}" alt="speaker-foto" >
                    
                </div>
                    
                <!-- Speaker Meta  -->	
                    
                <div class="speaker-img-meta">
                    <h4>
                        {{ speaker.name }}
                      </h4>
                      <p>{{speaker.biography}}</p>
                      
                    </div>
                    
                  </div>
                  {% endfor %}
          </div>			
    
      <div class="ccc col-md-8 col-md-pull-4 ">
        <h3>Description</h3>
        <div class="description">{{ presentation.description }}</div>
        
        <h3>Abstract</h3>
        <div class="abstract">{{ presentation.abstract|render_markup|safe}}</div>
        <div class="presentation-level">Audience level: <span class="label label-pill label-level">{{ presentation.proposal.get_audience_level_display }}</span></div>
      </div>
    </div>
    <div class="row">
      
        {% box "presentation_bottom" %}
    </div>
  </div>
</div>
{% endblock %}
