{% extends "site_base.html" %}
{% load i18n %}
{% load pinax_boxes_tags %}
{% load cache %}
{% load static %}

{% block head_title %}Conference Schedule{% endblock %}

{% block body_class %}full conference-schedule{% endblock %}
{% block header_style %}
style="position:absolute;"
{% endblock header_style %}
{% block right %}
{% endblock %}
{% block logo-images %}
<!-- LOGO IMAGE -->
<!-- Recommended sizes 150x34px; -->
<a class="navbar-brand logo-white" href="{% url 'home' %}"><img src="{% static 'images/logo-white.png' %}" alt="logo" height="60"></a>
<a class="navbar-brand logo-black" href="{% url 'home' %}"><img src="{% static 'images/logo-white.png' %}" alt="logo" height="60"></a>
{% endblock %}
{% block home_banner %}
<section id="intro-3" style="height: 250px !important" class="intro-section height_400">
    <div class="overlay division">
        <div class="container">
            <div id="intro-3-content" style="padding-top: 65px;" class="row">
                <!-- INTRO TEXT -->
                <div class="col-md-12 col-lg-10 col-lg-offset-1 intro-txt text-center white-color">
                  
                    <!-- Title -->
                    <h4>PyCon Nigeria Annual Conference </h4>
                    <h3>Conference <span>Schedule</span></h3>
                    {% box "schedule_top" %}
    
                  </div>
            </div>	 <!-- End Intro Content -->
        </div>    <!-- End container -->
    </div>	   <!-- End overlay -->
  </section>	<!-- END INTRO-3 -->
  
{% endblock home_banner %}
{% block body %}


<div class="poster-wrapper schedule-wrapper">
  <div class="container">
    <div class="row">

    <div class="page-head">

        {% block breadcrumbs %}{% endblock %}
    </div>
    
    
<!-- EVENT SCHEDULE
============================================= -->
<style>.wide-100{padding-top:50px}</style>
<section id="schedule" class="bg-grey schedule-section division">
    <div class="container">

        <!-- SCHEDULE TABS HOLDER -->
        <div class="row">
                
          {% for section in sections %}
              {% comment %} {% cache 600 "schedule-table" section.schedule.section %} {% endcomment %}
              <div class="col-md-12">
                      <div id="tabs-holder">
                          <div class="tab-content">
                              <!-- SCHEDULE TABS NAV -->
                              <div class="row">
                                  <!-- Schedule Tabs Navigation -->
                                  <div class="col-md-12 tabs-nav m-bottom-50 text-center">
                                      <ul class="nav nav-tabs" role="tablist">
                                          {% for timetable in section.days %}
                                          <li class="{% if forloop.first %}active{% endif %}"><a href="#tab-{{forloop.counter}}" role="tab" data-toggle="tab">
                                              <span>Day {{forloop.counter1}}</span> {{timetable.day.date}}</a></li>
                                          {% endfor %}
                                        
                                      </ul>
                                  </div>
                              </div>
                              {% for timetable in section.days %}
                               <!-- SCHEDULE TAB #1 CONTENT (DAY #1) -->
                             
                                <div id="tab-{{forloop.counter}}" class="tab-pane day-{{forloop.counter}} {% if forloop.first %}active {% endif %}">
        
                                  {% include "symposion/schedule/_grid.html" %}
                                  
                                </div>	<!-- END SCHEDULE TAB #1 CONTENT (DAY #1) -->
                            
                        
                                {% endfor %}
                            </div>
                          </div>
                      </div>
                  </div>	<!-- END SCHEDULE TABS HOLDER -->
            
             
              {% comment %} {% endcache %} {% endcomment %}
          {% endfor %}
      
          {% box "schedule_bottom" %}
          </div>


        <!-- SCHEDULE DOWNLOAD BUTTON -->
        <div class="row m-top-50">
            <div class="col-md-12 schedule-download text-center">
                <a href="#" class="btn btn-lg">Download Schedule</a>
            </div>
        </div>


    </div>	  <!-- End container -->
</section>	<!-- END EVENT SCHEDULE -->
    <!-- SCHEDULE TABS HOLDER -->
   
  </div>
</div>
{% block footer %}
<!-- FOOTER
============================================= -->
<footer id="footer" class="bg-dark p-top-40 p-bottom-40 footer division">
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-12 text-center">
                <!-- FOOTER COPYRIGHT -->
                <p>Copyright &copy; 2017 Python Nigeria</p>
                <img height="165" src="{% static "images/logo.svg" %}" alt="">
                <div class="hidden">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            </div>
        </div>
    </div>	   <!-- End container -->
</footer>	<!-- END FOOTER -->
{% endblock %}
{% endblock body %}
