{% extends "symposion/base.html" %}
{% load i18n %}
{% load pinax_boxes_tags %}
{% load cache %}
{% load static %}
{% block fixed_navbar %}scroll{% endblock fixed_navbar %}

{% block head_title %}Conference Schedule{% endblock %}

{% block body_class %}full conference-schedule{% endblock %}

{% block right %}
{% endblock %}

{% block content %}


<div class="poster-wrapper schedule-wrapper">
  <div class="container">
    <div class="row">

    <div class="page-head">

        {% block breadcrumbs %}{% endblock %}
    </div>
    
    
<!-- EVENT SCHEDULE
============================================= -->
<style>.wide-100{padding-top:50px}</style>
<section id="schedule" class="bg-grey wide-100 schedule-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1 section-title">

                <!-- Title -->
                <h3>Conference <span>Schedule</span></h3>
                {% box "schedule_top" %}
                <p>Eventry full schedule of keynotes, sessions & workshops</p>

            </div>
        </div>


        <!-- SCHEDULE TABS HOLDER -->
        <div class="row">
            <div class="col-md-12">
                <div id="tabs-holder">
                    <div class="tab-content">
                        <!-- SCHEDULE TABS NAV -->
                        <div class="row">
                            <!-- Schedule Tabs Navigation -->
                            <div class="col-md-12 tabs-nav m-bottom-50 text-center">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#tab-1" role="tab" data-toggle="tab"><span>Day 1, Firday</span> 15 September 2017</a></li>
                                    <li><a href="#tab-2" role="tab" data-toggle="tab"><span>Day 2, Saturday</span> 16 September 2017</a></li>
                                    {% comment %} <li><a href="#tab-3" role="tab" data-toggle="tab"><span>Day 3, Tuesday</span> 13 September 2016</a></li> {% endcomment %}
                                </ul>
                            </div>
                        </div>


                        <!-- SCHEDULE TAB #1 CONTENT (DAY #1) -->
                        <div id="tab-1" class="tab-pane day-1 active">


                            <!-- SCHEDULE EVENT #1-1 -->
                            <div class="row schedule-event b-bottom grey">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">9:00AM</span>
                                    <span class="event-room">Main Hall</span>
                                </div>

                                <!-- Event Speakers -->
                                <div class="col-md-4 col-lg-3 event-speaker clearfix">

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-3.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Jonathan Barnes</h5>
                                            <p>Conference CEO</p>
                                        </div>
                                    </div>

                                </div>

                                <!-- Event Description -->
                                <div class="col-md-6 col-lg-7 event-description">
                                    <h4>Registration & Coffee </h4>
                                    <p>Continental breakfast and registration for Eventry'16. Pick up your name badge and goodie bag</p>
                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #1-2 -->
                            <div class="row schedule-event b-bottom">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">9:30AM - 11:00AM</span>
                                    <span class="event-room">Room 101</span>
                                </div>

                                <!-- Event Speakers -->
                                <div class="col-md-4 col-lg-3 event-speaker clearfix">

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-1.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Robert Peterson</h5>
                                            <p>CEO of Company Name</p>
                                        </div>
                                    </div>

                                </div>

                                <!-- Event Description -->
                                <div class="col-md-6 col-lg-7 event-description">
                                    <h4>Lorem in purus dui, lacinia id efficitur sit amet</h4>
                                    <p>Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo praesent eu elit. Ut eu ligula.
                                        Class aptent taciti sociosqu ad litora torquent per conubia nostra
                                    </p>

                                    <!-- Description List -->
                                    <ul class="event-description-list">
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Luctus neque rhoncus ipsum viverra</li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Cum sociis natoque et magnis dis parturient</li>
                                    </ul>

                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #1-3 -->
                            <div class="row schedule-event b-bottom grey">

                                <!-- Event Time/Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">11:30AM - 12:30PM</span>
                                    <span class="event-room">Cafeteria</span>
                                </div>

                                <!-- Event Description -->
                                <div class="col-md-10 event-description">
                                    <h4>Afternoon Break</h4>
                                    <p>Four fantastic types of coffee from the awesome CoffeeeBox Melbourne</p>
                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #1-4 -->
                            <div class="row schedule-event b-bottom">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">1:30PM - 5:00PM</span>
                                    <span class="event-room">Room 104C</span>
                                </div>

                                <!-- Event Speakers -->
                                <div class="col-md-4 col-lg-3 event-speaker clearfix">

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-7.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Matthew Anderson</h5>
                                            <p>Author of "Some Book"</p>
                                        </div>
                                    </div>

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker m-top-10">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-5.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Benjamin Williams</h5>
                                            <p>www.dsathemes.com</p>
                                        </div>
                                    </div>

                                </div>

                                <!-- Event Description -->
                                <div class="col-md-6 col-lg-7 event-description">
                                    <h4>Maecenas laoreet augue egestas vitae egestas</h4>
                                    <p>Praesent eu elit aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos ut nulla. Vivamus bibendum,
                                        nulla ut congue fringilla lorem
                                    </p>

                                    <!-- Description List -->
                                    <ul class="event-description-list">
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Luctus neque rhoncus ipsum viverra</li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Vitae auctor eros erat nec magna morbi</li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Cum sociis natoque et magnis dis parturient</li>
                                    </ul>

                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #1-5 -->
                            <div class="row schedule-event b-bottom grey">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">5:30PM - 7:30PM</span>
                                    <span class="event-room">Room 103</span>
                                </div>

                                <!-- Event Speakers -->
                                <div class="col-md-4 col-lg-3 event-speaker clearfix">

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-8.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Evelyn Martinez</h5>
                                            <p>Chief Marketing & Sales <br />Officer</p>
                                        </div>
                                    </div>

                                </div>

                                <!-- Event Description -->
                                <div class="col-md-6 col-lg-7 event-description">
                                    <h4>Pulvinar phasele nibh, ac massa</h4>
                                    <p>Maecenas laoreet augue egestas vitae volutpat suscipit egestas lobortis magna, amet fermentum nisl
                                        mauris interdum lectus neque dolor primis pretium neque
                                    </p>

                                    <!-- Description List -->
                                    <ul class="event-description-list">
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Luctus neque rhoncus ipsum viverra</li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Vitae auctor eros erat nec magna morbi</li>
                                    </ul>

                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #1-6 -->
                            <div class="row schedule-event">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">8:30PM - 9:30PM</span>
                                    <span class="event-room">Main Hall</span>
                                </div>

                                <!-- Event Description -->
                                <div class="col-md-10 event-description">
                                    <h4>Cocktail Reception</h4>
                                    <p>Get to know fellow attendees over complimentary cocktails in the beautiful Any Place HalL atrium</p>
                                    <p class="event-description-notice">*All attendees must be 21+. Nametag required. No guests.</p>
                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #1-7 -->
                            <div class="row schedule-event grey">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">10:00PM - 11:30PM</span>
                                    <span class="event-room">Bowling Club</span>
                                </div>

                                <!-- Event Description -->
                                <div class="col-md-10 event-description">
                                    <h4>Bowling Tournament</h4>
                                    <p>Form a crack team and thrash the opposition in our annual bowling tournament, complete with prizes, drinks, and entertainment</p>
                                    <p class="event-description-notice">*All attendees must be 21+. Nametag required. No guests.</p>
                                </div>

                            </div>


                        </div>	<!-- END SCHEDULE TAB #1 CONTENT (DAY #1) -->


                        <!-- SCHEDULE TAB #2 CONTENT (DAY #2) -->
                        <div id="tab-2" class="tab-pane day-2">


                            <!-- SCHEDULE EVENT #2-1 -->
                            <div class="row schedule-event b-bottom grey">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">9:30AM - 12:00AM</span>
                                    <span class="event-room">Room 105</span>
                                </div>

                                <!-- Event Speakers -->
                                <div class="col-md-4 col-lg-3 event-speaker clearfix">

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-2.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Megan Coleman</h5>
                                            <p>UI Designer</p>
                                        </div>
                                    </div>

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker m-top-10">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-4.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Hannah Harper</h5>
                                            <p>Web Developer</p>
                                        </div>
                                    </div>

                                </div>

                                <!-- Event Description -->
                                <div class="col-md-6 col-lg-7 event-description">
                                    <h4>Pulvinar phasele nibh, ac massa</h4>
                                    <p>Maecenas laoreet augue egestas vitae volutpat suscipit egestas lobortis magna, amet fermentum nisl mauris interdum lectus bibendum
                                        luctus pretium neque
                                    </p>
                                    <p class="m-top-10">Dolor primis pretium neque sociis natoque penatibus et magnis. Dis parturient montes ollis risus congue aliquam etiam sapien accumsan</p>

                                    <!-- Description List -->
                                    <ul class="event-description-list">
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Vitae auctor eros erat nec magna morbi</li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Cum sociis natoque et magnis dis parturient</li>
                                    </ul>

                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #2-2 -->
                            <div class="row schedule-event b-bottom">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">1:00PM - 1:30PM</span>
                                    <span class="event-room">Cafeteria</span>
                                </div>

                                <!-- Event Description -->
                                <div class="col-md-10 event-description">
                                    <h4>Afternoon Break</h4>
                                    <p>Four fantastic types of coffee from the awesome CoffeeeBox Melbourne</p>
                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #2-3 -->
                            <div class="row schedule-event b-bottom grey">

                                <!-- Event Time/Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">2:00PM - 3:00PM</span>
                                    <span class="event-room">Room 100A</span>
                                </div>

                                <!-- Event Speakers -->
                                <div class="col-md-4 col-lg-3 event-speaker clearfix">

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-5.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Benjamin Williams</h5>
                                            <p>www.dsathemes.com</p>
                                        </div>
                                    </div>

                                </div>

                                <!-- Event Description -->
                                <div class="col-md-6 col-lg-7 event-description">
                                    <h4>Lorem in purus dui, lacinia id efficitur sit amet</h4>
                                    <p>Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>

                                    <!-- Description List -->
                                    <ul class="event-description-list">
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Luctus neque rhoncus ipsum viverra</li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Cum sociis natoque et magnis dis parturient</li>
                                    </ul>

                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #2-4 -->
                            <div class="row schedule-event b-bottom">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">3:30PM - 5:00PM</span>
                                    <span class="event-room">Room 104C</span>
                                </div>

                                <!-- Event Speakers -->
                                <div class="col-md-4 col-lg-3 event-speaker clearfix">

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-1.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Robert Peterson</h5>
                                            <p>Vice President Company Name</p>
                                        </div>
                                    </div>

                                </div>

                                <!-- Event Description -->
                                <div class="col-md-6 col-lg-7 event-description">
                                    <h4>Class aptent taciti sociosqu ad litora torquent per conubia</h4>
                                    <p>Aenean blandit non nulla at sodales. Sed ut nisi eu dui accumsan mollis in ac velit. Quisque erat diam, sodales vitae, consequat consequat nibh.
                                        Donec vel sapien augue cursus turpis nec velit sodales
                                    </p>
                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #2-5 -->
                            <div class="row schedule-event b-bottom grey">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">5:30PM - 6:30PM</span>
                                    <span class="event-room">Room 103</span>
                                </div>

                                <!-- Event Speakers -->
                                <div class="col-md-4 col-lg-3 event-speaker clearfix">

                                    <!-- Keynote Speaker -->
                                    <div class="keynote-speaker">
                                        <div class="speaker-avatar"><img src="{% static 'images/thumbs/speaker-8.jpg' %}" alt="Speaker Name"></div>
                                        <div class="speaker-data">
                                            <h5>Evelyn Martinez</h5>
                                            <p>VIP Technology Sales</p>
                                        </div>
                                    </div>

                                </div>

                                <!-- Event Description -->
                                <div class="col-md-6 col-lg-7 event-description">
                                    <h4>Luctus pretium neque dolor, ac massa</h4>
                                    <p>Sed ut nisi eu dui accumsan mollis in ac velit. Quisque erat diam, sodales vitae, consequat consequat nibh</p>

                                    <!-- Description List -->
                                    <ul class="event-description-list">
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Luctus neque rhoncus ipsum viverra</li>
                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Vitae auctor eros erat nec magna morbi</li>
                                    </ul>
                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #2-6 -->
                            <div class="row schedule-event">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">8:30PM - 9:30PM</span>
                                    <span class="event-room">Main Hall</span>
                                </div>

                                <!-- Event Description -->
                                <div class="col-md-10 event-description">
                                    <h4>Cocktail Reception</h4>
                                    <p>Get to know fellow attendees over complimentary cocktails in the beautiful Any Place HalL atrium</p>
                                    <p class="event-description-notice">*All attendees must be 21+. Nametag required. No guests.</p>
                                </div>

                            </div>


                            <!-- SCHEDULE EVENT #2-7 -->
                            <div class="row schedule-event grey">

                                <!-- Event Time / Event Room -->
                                <div class="col-md-2 event-data">
                                    <span class="event-time">10:00PM - 12:00PM</span>
                                    <span class="event-room">Night Club</span>
                                </div>

                                <!-- Event Description -->
                                <div class="col-md-10 event-description">
                                    <h4>After Party</h4>
                                    <p>Unwind with all your new friends at our fun-filled after party featuring games, music, and drinks</p>
                                    <p class="event-description-notice">*All attendees must be 21+. Nametag required. No guests.</p>
                                </div>

                            </div>


                        </div>	<!-- END SCHEDULE TAB #2 CONTENT (DAY #2) -->

                    </div>
                </div>
            </div>
        </div>	<!-- END SCHEDULE TABS HOLDER -->


        <!-- SCHEDULE DOWNLOAD BUTTON -->
        <div class="row m-top-50">
            <div class="col-md-12 schedule-download text-center">
                <a href="#" class="btn btn-lg">Download Schedule</a>
            </div>
        </div>


    </div>	  <!-- End container -->
</section>	<!-- END EVENT SCHEDULE -->

    {% for section in sections %}
        {% cache 600 "schedule-table" section.schedule.section %}
          {% for timetable in section.days %}
            <div class="row">
              <div class="timetable-header"><h2>{{ section.schedule.section.name }} — {{ timetable.day.date }}</h2></div>
            </div>
            {% include "symposion/schedule/_grid.html" %}
          {% endfor %}
        {% endcache %}
    {% endfor %}

    {% box "schedule_bottom" %}
    </div>
  </div>
</div>
{% endblock content %}
