@import "./variables";
#purchase-tickets-section {
  height: 850px;

  $green: #11BD8A;

  .logo {
    padding-bottom: 95px;
  }

  background: url("../img/backgrounds/ticket-bg.jpg");
  background-size: cover;

  .form-content {
    background-color: #FFFFFF;
    padding: 0px 52px 32px 52px;
  }

  .nav-tabs {
    border-bottom: 3px solid $green;
    margin: 0 -52px 0px -52px;
    font-weight: bold;
    
    li {
        padding: 10px;
    }

    .nav-link {
      color: #000000;
      opacity: 0.3;
      margin: -10px;
      margin-bottom: -9px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 0;
    }

    .nav-link.active {
      border-color: transparent;
      background-color: #eee;
      color: $green;
      opacity: 1;
    }
  }

  .tab-content {
    padding-top: 44px;

    a, p {
      color: #1E1E1E;
      font-size: 15px;
    }

    #make-payment a {
      text-decoration: underline;
    }
  }

  form {

    label {
      font-weight: bold;
      font-size: 15px;
    }

    input, .alert {
      height: 48px;
      border: 1px solid #DADADA;
      padding: 11px 25px 11px 25px;
      border-radius: 0;
    }
    
    li {
      max-height: 102px;
      margin-bottom: 24px;
      padding: 15px;
      list-style-type: none;
      border: 1px solid #DEDEDE;
      background-color: #F2F2F2;
      border-left: 4px solid $green;
      @media(max-width:$mobile){
        padding: 0;
      }

      p {
        margin-bottom: -5px;
      }
    }

    p, span, select, .alert {
      color: #1E1E1E;
    }

    p {
      font-weight: bold;
      font-size: 18px;
    }

    span {
      font-size: 15px;
      opacity: 0.7;
    }

    select {
      height: 36px;
      width: 71px;
      border: 1px solid #DEDEDE;
      background-color: #FFFFFF;
      padding: 0 14px 0 14px;
      opacity: 0.7;
    }

    .password-alert {
      height: auto;
      font-size: 12px;
    }
  }

  #tickets-summary {
    margin-top: 36px;

    p {
      font-size: 18px;
      font-weight: bold;
    }

    .total-fee {
      text-align: right;
      @media(max-width:$mobile){
        text-align: left;
      }
    }
  }
}

.copyright {
  font-size: 16px;
  margin-top: -32px;
  color: #FFFFFF;
  background-color: #232323;
  padding: 28px 0 5px 0;
  font-family: "Maison Neue";
  letter-spacing: 1px;
  line-height: 19px;

  p {
    opacity: 0.5;
  }
}

