#tickets-complete-section {
  background-color: #F6FFFC;
  background-size: cover;

  .logo {
    margin-bottom: 20%;
  }

  .tickets {
    margin-bottom: 10%;
     p {
       color: $site_color;
       font-family: $normal_font_name;
       font-size: 20px;
       line-height: 41px;
     }

     img {
       float: right;
       margin-top: -12%;
       margin-right: 15%;
     }

     h1 {
       color: $site_color;
       font-family: $normal_font_name;
       font-size: 54px;
       letter-spacing: 1px;
       line-height: 74px;
       margin-bottom: 5%;
     }

  }

  .add-google {
    height: 58px;
  	width: 351px;
  	background-color: #02EFA8;
    h3 {
	    color: #site_color;
	    font-family: $normal_font_name;
	    font-size: 16px;
	    font-weight: bold;
	    letter-spacing: 2px;
	    line-height: 19px;
      text-transform: uppercase;
    }
  }

  .social-share {
    h3{
      font-size: 20px;
      line-height: 41px;
    }
    .share, .post, .tweet {
      box-sizing: border-box;
      height: 113px;
      width: 123px;
      border: 1px solid #E5E5E5;
      border-radius: 9px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(100,100,100,0.3);
    }



  }

}
