@import "./scss/bootstrap.scss";

$mono_font_name: "Maison Neue Mono";
$normal_font_name: "Maison Neue";
$default_font: $normal_font_name, -apple-system,  system-ui, sans-serif;
$text_font: $mono_font_name, -apple-system, system-ui, sans-serif;
$site_color: #000000;
$primary_color: #02efa8;
$text_color: white;
$default_font_size: 14px;
$defualt-font-line-height: 17px;
$desktop: 992px;
$big-desktop: 1500px;
$mobile: 544px;
// $regular_font_size:

@mixin fonts($font_size: $default_font_size,
$line-height: $defualt-font-line-height) {
  font-size: $font_size;
}
@font-face {
  font-family: $normal_font_name;
  src: url("./fonts/MaisonNeue-Book.eot?#iefix");
  src: url("./fonts/MaisonNeue-Book.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MaisonNeueWEB-Book.woff") format("woff"),
    url("./fonts/MaisonNeue-Book.svg#@{icon-font-svg-id}") format("svg");
}
@font-face {
  font-family: $mono_font_name;
  src: url("./fonts/MaisonNeue-Mono.eot?#iefix");
  src: url("./fonts/MaisonNeue-Mono.eot?#iefix") format("embedded-opentype"),
    url("./fonts/maisonneuemono.ttf") format("ttf"),
    url("./fonts/MaisonNeue-Mono.woff") format("woff");
}
@font-face {
  font-family: "Maison Neue Bold";
  src: url("./fonts/MaisonNeueWEB-Bold.woff") format("woff");
}
* {
  box-sizing: border-box;
}
html,
body,
button {
  font-family: $default_font;
    --text-color: #0BB784;
}
a {
  text-decoration: none;
}

button {
  padding: 15px 44px !important;
  border: none !important;
  font-weight: 700 !important;
  border-radius: 0 !important;
  color: black !important;
}

.bg-dark {
  background-color: black !important;
}

.text-green {
  color: $primary_color;
}

@import "./navbar.scss";

#header-section, #speakers-section {
  font-family: $mono_font_name;
  h1 {
    color: $primary_color;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 64px;
    line-height: 74px;
    @media(max-width:$mobile){
      font-size: 2rem;
    }
  }
  p {
    color: $text_color;
    font-size: 20px;
    line-height: 2;
    @media(min-width: $desktop){
    &.lead{
        width: 60%;
      }
    }
  }
  @media (min-width: $desktop) {
    height: 630px;
  }
  & .container {
    @media (min-width: $big-desktop) {
      max-width: 1450px;
    }
  }
}

.content-section{
  display: flex;
  font-family: $text_font;
  .sidebar{
    width: 30px;
    .python-start{
      position: absolute;
    margin-top: -23px;
    margin-left: 18px;
    }
    .numbers{
      line-height: 30px;
      font-size: 9px;
      color: #757575;
      border-right: 1px solid #C0C0C0;

    }
  }
}
h3.section-title{
  text-transform: uppercase;
  font-size: 17px;
  background-color: var(--text-color);
  width: fit-content;
  color:#FFFFFF;
  padding: 8px 30px 10px 23px;
  margin-bottom: 0;
}
.section-description {
  opacity: 0.06;
  color: #000000;
  font-family: $text_font;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 59px;
  letter-spacing: 10px;
  line-height: 71px;
  text-transform: uppercase;
  @media(max-width:$mobile){
    font-size: 1.3rem;
    letter-spacing: 0px;
  }
}
#about-section, #speaker-section{
  --bottom-padding: 70px;
  h1.header-text{
    font-size: 59px;	
    letter-spacing: 10px;	
    line-height: 71px;
  }
  .about-details{
    --padding-width: 62px;
    --top-padding: 30px;
    padding-top: var(--top-padding);
    padding-bottom: var(--bottom-padding);
    display: flex;
    .description{
      flex: 2;
      padding-right: var(--padding-width);
      font-size: 17px;	line-height: 36px;
    }
    .highlights{
      flex: 1;
      display: grid;
      grid-row-gap: 34px;
      grid-template-columns: 1fr 1fr;
      padding-left: var(--padding-width);
      .highlight-detail{
        h1{
          color: var(--text-color);
          margin-bottom: 0;
          font-size: 72px; 
          line-height: 72px;
        }
      }
    }
   
  }
   .image-section{
      display: flex;
      padding-bottom: var(--bottom-padding);
      img{
        max-width: 100%;
        max-height: 100%;
      }
      .image-1{
        flex: 1;
      }
      .image-2{
        flex: 1.5;
        padding-left: 20px;
      }
    }
}
/* Styles for the home page */

#header-section {
  background: url("../img/backgrounds/pycon-homepage-bg.jpg");
  background-size: cover;
}

/* End styles for the home page */


/* Styles for the speakers page */
@import "./speakers.scss";
/* End styles for Speaker's page */
@import "./footer.scss";