{% extends "apply.html" %} 
{% load static pinax_boxes_tags %}
{% load static from staticfiles %} 
{% load pinax_boxes_tags %} 
{% block head_title %} Ticket Page | {% endblock head_title %}
{% block extra_stylings %} {{block.super}}
<style>
 .ticket-category img{
   width: 60%;
 }
 .ticket-category img.individual{
   width: 90%;
 }
 .ticket-category p.notice{
   margin: 0;
 }
 .ticket-category p.notice+.price{
   margin-top: 20px;
 }
 .ticket-category img + p{
   padding: 24px;
 }
 .ticket-category .link-button{
  padding: 15px !important; width: 100%;
 }
 @media(max-width: 768px){
   .ticket-category{
     margin-bottom: 20px;
   }
 }
@media (min-width: 992px){
#navbar.home + #header-section, #navbar.home + #speakers-section, #navbar.home + #purchase-tickets-section, #navbar.home + #code-of-conduct-section, #navbar.home + .custom-image-section {
        margin-top: -120px;
    padding-top: 80px;
    height: 500px !important;
}}
</style>
{% endblock extra_stylings %}

{% block hero_label %}
{% box 'ticket_home_label' %}
{% endblock %}
{% block hero_title %}
{% box 'ticket_home_title' %}
{% endblock %}
{% block hero_subtitle %}
{% box 'ticket_home_subtitle' %}
{% endblock %}


 {% block content %}
 {% box 'ticket_home_alert' %}


<div class="packages row text-center  pt-5 mb-4">
    {% for plan in plans %}
    <div class="col-sm-12 col-md-3">
      <div class="ticket-category">
        <h6>{{plan.name|upper}}</h6>
        <img src="{{plan.url}}" class="{{plan.style}}" />
        <p>{{plan.description}}</p>
        
        {% if plan.early_bird %}
        <h3 class="price strike">N{{plan.amount}}</h3>
        <p class="notice">Early Bird</p>
  
        <h3 class="price">N{{plan.early_price}}</h3>
        
        {% else %}
        <h3 class="price strike">N{{plan.early_price}}</h3>
        <p class="notice">Price</p>
        <h3 class="price">N{{plan.amount}}</h3>
        {% endif %}
  {% if plan.current_price  %}
  <a href="{% url 'tickets:selected-plan' %}?selected_plan={{plan.short_name}}" class="link-button btn btn-success buy-tickets-button">BUY TICKETS</a>
  
  {% else %}
  <span style="color: white !important;" class="link-button btn btn-danger buy-tickets-button">SOLD OUT</span>

  {% endif %}
      </div>
    </div>
    {% endfor %}
</div>

{% box 'ticket_home_payment_footer_alert' %}

{% box 'ticket_home_value_heading' %}

  {% box 'ticket_home_value_description' %}

<br />
<br />
<br />
<br /> {% endblock %}
