{% extends "apply.html" %} {% load static pinax_boxes_tags %} 
{% load static from staticfiles %} 
{% load pinax_boxes_tags %} 
{% block navigation %}

{% endblock  %}
{% block sidebar-counter %} {% endblock sidebar-counter %} 
{% block content %} {% endblock content %}
{% block messages %} {% endblock messages %}
{% block header-section %}
 <div class="main-content container">
            {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %} 
            
        </div>
<div id="tickets-complete-section" class="jumbotron jumbotron-fluid">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="logo" src="{% static 'designs/dist/pycon2024.svg' %}" alt="pyconng logo" />

        <div class="tickets">
          <p>>>> Ticket purchase complete</p>

          <img src="{% static 'designs/img/purchase-tickets-complete/ticket-icon.svg' %}" alt="tickets">
        </div>
        {% box "ticket_complete_message" %}
        

        <hr>

        <div class="social-share">

          
          {% box 'ticket_social_heading' %}

          {% box 'ticket_social_detail' %}
        </div>
        <div class="tickets-order">
          <h3>Your order has been received:</h3>
          <ol>
            <li> Order
              <span>#{{ticket.pk}}</span> {{count}} tickets of &#8358;{{ticket.total_amount}}
            </li>
            {% if ticket.created_tickets %}
            <li> Click
              <a href="{% url 'tickets:detail' ticket.pk %}">Here</a> to view your tickets
            </li>
            {% else %}
            <li> Click <a href="{% url 'tickets:create_ticket' ticket.pk %}">Here</a> to create your tickets </li>
            {% endif %}
          </ol>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 d-none d-sm-block">
<img src="{% static 'designs/img/purchase-tickets-complete/pythonista-party.svg' %}" alt="pythonista party" />
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <p class="text-center">COPYRIGHT 2024. PYCON NIGERIA 2024</p>
</div>
{% endblock header-section %}
{% comment %} <extends src="./base.html">

  <body>
    <block name="title">Purchase Tickets - Complete</block>

    <block name="navigation"></block>

    <block name="header-section">

    </block>
  </body>
  <block name="footer">

  </block>

</extends> {% endcomment %}
{% block footer %}

{% endblock footer %}