{% extends "apply.html" %} 
{% load static from staticfiles %} 
{% load pinax_boxes_tags %} 
{% block head_title %}
    Purchase Ticket |
{% endblock head_title %}
{% block stylings %}
{{block.super}}
<style>
    .margin-top-50{
        margin-top: 50px;
    }
    .margin-bottom-20{
        margin-bottom: 20px;
    }
    .text-left{
        text-align: left;
    }
    h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .text-left h3{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .table {
    width: 100%;
    max-width: 100%;
    border-top: 2px solid #8d897c;
    margin-bottom: 1.5em;
}
    table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.table th, .table td {
    padding: 8px;
    /* vertical-align: top; */
    border-top: 1px solid #d4d2cd;
    line-height: 1.5em;
    text-align: left;
}
#form-cart .total {
    padding: 0.75em 0;
    text-align: center;
    background: #f8c7d2;
}
section {
    padding: 1.5em 0;
}
h3.no-margin{
    margin-top: -20px;

}
</style>
{% endblock stylings %}
{% block home_banner %}
{% endblock home_banner %}
{% block content %}
<div class="container text-left margin-top-50">
    <div class="row">
<div class="page clearfix">
    
    
    









<form id="form-cart" action="{% url 'tickets:purchase' %}" method="post" class="">
{% csrf_token %}
<section>
    <div class="grid-container">
    <div class="grid-100">

        <h1>Buy tickets (1 of 2)</h1>

        <div class="page-summary">
            <p>Select conference tickets and additional services.</p>
        </div>

        

    </div><!--/grid -->
</div><!-- /grid-container -->
</section>

<!--
= ORDER TYPE ===================================================================
-->


<!--
= TICKETS ======================================================================
-->
<section>
    <div class="grid-container">
    <div class="grid-100">
        <fieldset class="tickets conference-tickets">
            
            <legend>Conference tickets</legend>
               <table id="ticket_table" class="table">
                    <colgroup><col>

                    <col style="background: #E5E2D3">
                    <col style="background: #E5E2D3">

                    <col>
                    <col>

                    <col style="background: #E5E2D3">
                    <col style="background: #E5E2D3">

                    </colgroup><thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th colspan="2">Student {% if tickets.0.amount < 4000 %}
                             <small>(Early Bird)</small>
                            {% endif %} </th>
                            <th colspan="2">Personal {% if tickets.0.amount < 6000 %}
                             <small>(Early Bird)</small>
                            {% endif %} </th>
                            <th colspan="2">Business {% if tickets.0.amount < 12000 %}
                             <small>(Early Bird)</small>
                            {% endif %} </th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Price</th>
                            <th>Q.ty</th>
                            <th>Price</th>
                            <th>Q.ty</th>
                            <th>Price</th>
                            <th>Q.ty</th>
                        </tr>
                    </thead>

                

                    <tbody>
                        

<tr>
    <td>PyconNG 2017 - Regular Ticket<br><small>Ticket to attend PyconNG at the regular ticket price.</small></td>
    {% for ticke in tickets %}
        {% if ticke.amount > 0 %}
        <td class="fare" data-fare="{{ticke.data_fare}}">
            
            <div id="fare-{{ticke.data_fare}}" data-amount="{{ticke.amount}}">
                ₦ <span class="fare">{{ticke.amount|floatformat:"2"}}</span></div>
        </td> 
        <td class="fare" data-fare="{{ticke.data_fare}}">
            <input type="text" size="2" name="{{ticke.data_fare}}" value="">            
        </td>
        {% else %}
        <td class="fare">
            Exhausted
        </td>
        <td class="fare">
        </td>
        {% endif %}
    
    {% endfor %}
</tr>

<tr>
    <td><br><small></small></td>
    {% for x in "******" %}
        <td class="fare" data-fare=""> </td> 
    {% endfor %}
</tr>

<tr>
    <td><br><small></small></td>
     {% for x in "******" %}
        <td class="fare" data-fare=""> </td> 
    {% endfor %}
</tr>


                    </tbody>
                </table>
                <div class="total">
                    Conference tickets total <b>₦ 0</b>
                </div>
            
        </fieldset>

    </div><!--/grid -->
</div><!-- /grid-container -->
</section>


<!--
= COUPON ======================================================================
-->
<section>
    <div class="grid-container">
    <div class="grid-100">

        <fieldset class="tickets coupon">
            <legend>Coupon code</legend>
            
<div class="control-group coupon field textinput charfield">
    <label class="control-label" for="id_coupon">Insert your discount code and save money!</label>
    <div class="controls">
        <input id="id_coupon" maxlength="10" name="coupon" size="10" type="text">
        
    </div>
</div>
 <span></span>
            
        </fieldset>

    </div><!--/grid -->

</div><!-- /grid-container -->
</section>

<!--
= TOTAL AND PROCEED ============================================================
-->

<section>
    <div class="grid-container">
    <div class="grid-100">

            <fieldset class="tickets">
                <div class="total grand">
                    Grand total <b>₦ 0</b>
                </div>
            </fieldset>

            <fieldset style="margin-top: 20px;">
                {% if tickets.0.amount > 0 or tickets.1.amount > 0 or tickets.2.amount > 0 %}
                
                <button id="checkoutbtn" class="btn btn-primary" value="" name="" type="submit">Proceed to Checkout →</button>
                {% else %}
                <strong>No available tickets</strong>
                {% endif %}
            </fieldset>
        <script type="text/javascript">
            
        </script>

    </div><!--/grid -->
</div><!-- /grid-container -->
</section>

</form>

    



</div>
    </div>

</div>
            {% endblock content %}

{% block extra_script %}
<script src="https://www.pycon.ng/static/js/bundle-ticket.js"></script>
<script type="text/javascript">
    $("#ticket_table").change(max_tickets);
    function max_tickets() {
        //alert("The text has been changed.");
        t = document.getElementById("ticket_table");
        inp_list = t.getElementsByTagName("input");
        var changed = (1<0)
        for (i = 0; i < inp_list.length; i++) {
            val = inp_list[i].value
                if (val > 6) {
                    inp_list[i].value = 6;
                    changed = (1>0);
                }
        }
        if (changed) {
            location.reload();
        }
    }
</script>
{% endblock extra_script %}