{% load account_tags %}
{% load i18n %}
{% user_display message.user as user %}
<p>
  {% with title=proposal.title speaker=proposal.speaker.user %}
  {% if user == speaker %}
  <b>{{ user }}</b> has added a message on <b>{{ title }}</b>.
  {% else %}
  <b>A proposal reviewer</b> has added a message on <b>{{ title }}</b>.
  {% endif %}
  {% endwith %}
</p>
<blockquote>
    {{ message.message|safe }}
</blockquote>
<p>
    {% if reviewer %}{% url 'review_detail' proposal.pk as detail_url %}{% else %}{% url 'proposal_detail' proposal.pk as detail_url %}{% endif %}
    {% blocktrans %} Respond online at <a href="http://{{ current_site }}{{ detail_url }}#proposal-feedback">http://{{ current_site }}{{ detail_url }}#proposal-feedback</a>{% endblocktrans %}
</p>
