@import "./variables";
#code-of-conduct-section {
  background: url("../img/backgrounds/code-of-conduct.jpg");
  background-size: cover;
}
.custom-image-section.background-option-1{
  background: url("../img/backgrounds/loki.jpg");
  background-size: cover;
  // background-position: 50%;
}
.custom-image-section.background-option-2{
  background: url("../img/backgrounds/loki2.jpg");
  background-size: cover;
  // background-position: 50%;
}
.custom-image-section.background-option-3{
  background: url("../img/backgrounds/loki3.jpg");
  background-size: cover;
  // background-position: 50%;
}
.custom-image-section.background-option-4{
  background: url("../img/backgrounds/loki4.jpg");
  background-size: cover;
  // background-position: 50%;
}
.custom-image-section.background-option-5{
  background: url("../img/backgrounds/loki5.jpg");
  background-size: cover;
  // background-position: 50%;
}
.custom-image-section.background-option-6{
  background: url("../img/backgrounds/loki6.jpg");
  background-size: cover;
  // background-position: 50%;

}
.custom-image-section.background-option-7{
  background: url("../img/backgrounds/loki7.jpg");
  background-size: cover;
  // background-position: 50%;
}


.custom-image-section.background-option-8{
  background: url("../img/backgrounds/keynote.jpg");
  background-size: cover;
  background-position: 50%;
}
#code-of-conduct {
  max-width: 750px;
  margin-top: 10%;
  margin-left: 15%;
  @media(max-width:768px){
    margin-left: 10px;
  }
  p {
    color: $site_color;
    font-family: $mono_font_name;
    margin-bottom: 10%;
    strong {
      font-weight: 700;
    }
  }
  #code-aims {
    p {
      opacity: 0.4;
      font-size: 25px;
      letter-spacing: -1px;
      line-height: 47px;
    }
  }

  #code-conduct {
    p {
  	  font-size: 17px;
  	  font-weight: 300;
  	  line-height: 34px;
    }
  }

  #code-contact {
    .code-contact__head {
      height: 57px;
  	  width: 315px;
  	  background-color: #11BD8A;
      p {
        color: $text_color;
        font-size: 23px;
        letter-spacing: -1px;
        line-height: 28px;
        padding: 16px;
      }
      margin-bottom: 5%;
    }
    p {
  	  font-size: 17px;
  	  font-weight: 300;
  	  line-height: 34px;
    }
    .contact {
      p:nth-child(1) {
        margin-bottom: 1%
      }
    }
  }
}
