@charset "UTF-8";
#tickets-section {
  background: url("../img/backgrounds/Purchase-ticket-bg.jpg");
  background-size: cover;
  height: 518px; }
  #tickets-section .logo {
    position: absolute;
    right: 0; }
    @media (max-width: 544px) {
      #tickets-section .logo {
        position: relative; } }

.main-content {
  padding-left: 2px;
  padding-right: 2px; }

.ticket-category {
  font-family: "Maison Neue", -apple-system,  system-ui, sans-serif;
  margin-top: 64px;
  background-color: #f2f2f2;
  padding: 26px 30px 36px 30px; }
  .ticket-category h6 {
    font-weight: bold;
    font-size: 16px; }
  .ticket-category img {
    display: block;
    margin: 0 auto;
    margin-top: 33px;
    height: 132px;
    width: 132px; }
  .ticket-category p {
    font-family: "Maison Neue Mono", -apple-system, system-ui, sans-serif;
    font-size: 14px;
    margin-top: 35px; }
  .ticket-category h3 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px; }
  .ticket-category .price {
    margin-top: 24px;
    text-decoration: line-through;
    text-decoration-color: #11BD8A; }
  .ticket-category .early-bird {
    margin-top: 23px !important;
    margin-bottom: 12px !important;
    height: 35px;
    width: 162px;
    background-color: #FFDF3C;
    color: #000000;
    font-family: "Maison Neue", -apple-system,  system-ui, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
    padding-top: 9px; }
  .ticket-category .buy-tickets-button {
    margin-top: 42px;
    height: 50px;
    width: 250px; }
    @media (max-width: 992px) {
      .ticket-category .buy-tickets-button {
        width: 100%;
        padding: 15px !important; } }
    @media (max-width: 544px) {
      .ticket-category .buy-tickets-button {
        width: 100%; } }

#payment-section {
  height: 135px;
  margin-top: 21.5px;
  vertical-align: middle; }
  @media (max-width: 992px) {
    #payment-section {
      height: auto;
      width: 100%; } }
  @media (max-width: 544px) {
    #payment-section {
      height: auto;
      width: 100%; } }
  #payment-section .payment-description {
    margin-top: 29.5px;
    line-height: 36px; }
  #payment-section .supported-cards {
    margin-top: 37.5px;
    height: 54px; }
    @media (max-width: 544px) {
      #payment-section .supported-cards {
        width: 100%; } }

#ticket-value-section {
  margin-top: 81.5px; }
  #ticket-value-section .value-title {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    width: 355px; }
    @media (max-width: 544px) {
      #ticket-value-section .value-title {
        width: 100%;
        text-align: center; } }
  #ticket-value-section .value-description {
    margin-top: 10px;
    line-height: 36px; }

#goodies-section div {
  margin-top: 74.05px; }

#goodies-section img {
  height: 73.85px; }
  @media (max-width: 544px) {
    #goodies-section img {
      display: block;
      margin: 0 auto; } }

#goodies-section p {
  margin-top: 21.5px;
  font-size: 16px;
  width: 290px;
  line-height: 36px; }
  @media (max-width: 992px) {
    #goodies-section p {
      width: 100%; } }
  @media (max-width: 544px) {
    #goodies-section p {
      text-align: center; } }
