:root {
  --colorsneutralsn-200: rgba(108, 108, 108, 1);
  --colorsneutralsn0-white: rgba(254, 254, 254, 1);
  --colorsprimaryp300-base: rgba(4, 163, 138, 1);
  --white: rgba(255, 255, 255, 1);
  --brand-600: rgba(127, 86, 217, 1);
  --brand-400: rgba(182, 146, 246, 1);
  --brand-200: rgba(233, 215, 254, 1);
  --gray-500: rgba(102, 112, 133, 1);
  --body1-medium-font-family: "Nunito-Medium", Helvetica;
  --body1-medium-font-weight: 500;
  --body1-medium-font-size: 16px;
  --body1-medium-letter-spacing: 0px;
  --body1-medium-line-height: 24px;
  --body1-medium-font-style: normal;
  --display-sm-semibold-font-family: "Inter-SemiBold", Helvetica;
  --display-sm-semibold-font-weight: 600;
  --display-sm-semibold-font-size: 30px;
  --display-sm-semibold-letter-spacing: 0px;
  --display-sm-semibold-line-height: 38px;
  --display-sm-semibold-font-style: normal;
  --text-xl-regular-font-family: "Inter-Regular", Helvetica;
  --text-xl-regular-font-weight: 400;
  --text-xl-regular-font-size: 20px;
  --text-xl-regular-letter-spacing: 0px;
  --text-xl-regular-line-height: 30px;
  --text-xl-regular-font-style: normal;
  --text-sm-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-sm-semibold-font-weight: 600;
  --text-sm-semibold-font-size: 14px;
  --text-sm-semibold-letter-spacing: 0px;
  --text-sm-semibold-line-height: 20px;
  --text-sm-semibold-font-style: normal;
  --text-md-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-md-semibold-font-weight: 600;
  --text-md-semibold-font-size: 16px;
  --text-md-semibold-letter-spacing: 0px;
  --text-md-semibold-line-height: 24px;
  --text-md-semibold-font-style: normal;
  --body1-bold-font-family: "Nunito-Bold", Helvetica;
  --body1-bold-font-weight: 700;
  --body1-bold-font-size: 16px;
  --body1-bold-letter-spacing: 0px;
  --body1-bold-line-height: 24px;
  --body1-bold-font-style: normal;
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

