{% extends "account/base.html" %}

{% load account_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block header_style %} {% endblock header_style %}
{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
<div class="small-header poster-wrapper smaller">
</div>

<div class="poster-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <legend>{% trans "Sign up" %}</legend>
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
            </form>
            <p class="login-signup">
                <small>
                    {% trans "Already have an account?" %}  <strong><a class="btn btn-link" href="{% urlnext 'account_login' %}">{% trans "Log in" %}</a></strong>
                </small>
            </p>
        </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
