{% extends "symposion/base.html" %}
{% load static pinax_boxes_tags %}

{% load sitetree %}
{% load i18n %}
{% load static from staticfiles %}

{% block body_class %}cms-page{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}
{% block stylings %}
  <style>
  #intro-3{
    height: 300px;
  }
  #intro-3-content {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  #intro-3 .intro-txt h2 {
      font-size: 40px;
      line-height: 76px;
  }
  </style>
{% endblock %}

{% block extra_stylings %}
<link rel="stylesheet" href="{% static 'new-design/code/code-of-conduct.css' %}" />
 {% endblock extra_stylings %}


{% block content %}

  {% if editable %}
  <div class="row">
    <a href="{% url 'pages_page_edit' page.path %}" class="btn btn-sm btn-default">
      <i class="fa fa-pencil"></i>
      Edit this page
    </a>
  </div>
  {% endif %}

  {{ page.body_html|safe }}
  <!-- Main Content -->


  <script src="{% static 'designs/dist/9f30b84ddf0a13ca2b3a2ebe16b78543.js' %}"></script>

{% endblock %}

{% block new_footer %}
  {% endblock %}
